.title{
    text-align: center;
    font-size: large;
}
.container {
    width: 300px;
    height: 400px;
    overflow-y: scroll;
    padding: 30px;
}
.taskTitle{
    text-align: left;
    margin-left: 10px;
}
.main{
    background-color: azure;
}
#time{
    text-align: center;
    font-size: 50px;
    margin-top: -5px;
    margin-bottom: 10px;
    font-weight: normal;
    color:black;
}
.timer-btns{
    display: flex;
    justify-content: space-evenly;

}
.timer-btns > button{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-size: medium;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cornflowerblue;
}
#start-countdown-btn{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-size: medium;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cornflowerblue;
}
#add-task-btn{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-size: medium;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cornflowerblue;
}
#text{
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}
.taskTitle{
    font-size: 25px;
    font-weight: normal;
    text-align: left;
}
#task-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.task-input{
    border: none;
    outline: 0px;
    border-radius: 4px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 150px;
    
}
.task-delete{
    outline: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    color:white;
    background-color: cornflowerblue;
    cursor: pointer;

}